<footer class="footer section">
    <div class="container">
        <div class="row justify-content-center logo_footer">
            <div class="col-lg-8 text-center mt-2">
                <h1 class="mt-3 mb-5">Models and Evolution</h1>
                <ul class="list-inline footer-socails">
                    <!-- <li class="list-inline-item"><a href="{{ site.syndication.twitter }}"><i class="icon-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="{{ site.syndication.linkedin }}"><i class="icon-linkedin-squared"></i></a></li> -->
                    <li class="list-inline-item"><a href="{{ site.syndication.github }}"><i class="icon-github-squared"></i></a></li>
                    <!-- <li class="list-inline-item"><a href="{{ site.syndication.youtube }}"><i class="icon-youtube-play"></i></a></li> -->
                </ul>
            </div>
        </div>
       
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copy border-top pt-4 text-white-50 mb-0">
                    ME2024 Copyright &copy; Conference. All rights reserved | Design By: <a href="https://github.com/volcamp">Volcamp</a> | Adapted by Juri Di Rocco
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ site.url }}/asset/js/jquery.js"></script>
<script src="{{ site.url }}/asset/js/bootstrap.js"></script>
<script src="{{ site.url }}/asset/js/syotimer.js"></script>
<script src="{{ site.url }}/asset/js/script.js"></script>
</body>

</html>